DEV_DATABASE_URL=postgresql+psycopg2://test:test@127.0.0.1/development
PROCUCTION_DATABASE_URL=postgresql+psycopg2://test:test@127.0.0.1/production
DEPLOY_MODE=development # development or production
FEED_PAGE_SIZE=10 # feed page size
IS_DELAY=false # delay or not
COOKIE_REMEMBERME=e7fb7244fba901eea466642bf2b4102ec1b2e3cd|536bd84c6d0c4c4ab21f57d69aa5259e|1657594010169|public|w
COOKIE_CSRF_TOKEN=3Unys88XYi5j_DhmOxXPU_EW
FEED_PER_CRAWL=100 # feed per crawl
FEED_START_FROM=1 # feed start from
